@media (max-width: 320px) {
  .comp3-container {
    max-width: 320px !important;
    max-height: 304px !important;
    .container {
      max-width: 271px;
      max-height: 428px !important;
      text-align: center;

      .comp3-header {
        margin-top: 28px !important;
        font-size: 24px !important;
        margin-bottom: 33px!important;
      }
    }

    .outter_container {
      max-height: 311px;
    }

    .comp3-white-cell {
      display: none;
    }

    .cell1 {
      max-width: 271px !important;
      max-height: 190px !important;
    }
    .cell-mb-none {
      display: none;
    }
  }
}
