@media (max-width: 768px) {
  .comp3-container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    background-color: $black;
    padding-bottom: 55px;
    
    .container {
      max-width: 592px;
      .comp3-header {
        margin-top: 40px;
      }
    }

    .flex-between {
      display: block;
    }

    .comp3-white-cell {
      display: none;
    }

    .cell1 {
      width: 592px !important;
      height: 296px !important;
    }
    
    .comp3-grid {
      width: 615px !important;
      margin-right: 100px;
    }
  }
}

.cell-none {
  display: none;
}
