@media (max-width: 768px) {
  main {
    background-color: white;
  }
  .grey-cell {
    display: none;
  }

  .grid-container {
    display: flex;
    width: 770px;
    height: 472px;
    background-color: $white !important;
    .part1 {
      display: none;
    }
  }
  .comp2-text {
    width: 608px;
    padding-left: 69px !important;
  }
}
