@media (max-width:320px) {
    .comp5-container {
        width: 320px;
        .footer-container {
            width: 270px;
            height: 166px;
            .white-cell {
                margin-top: 24px;
                margin-bottom: 40px;
                width: 38px!important;
            }

            .footer-icon{
                top: 17%;
                right: -4px;
            }
            .footer-paragraph {
                font-size: 12px;
            }
        }
    }
}