@media (max-width: 768px) {
  .comp5-container {
    width: 770px;

    .footer-container {
      width: 594px;
      display: block !important;
      .footer-icon {
        top: 38%;
        right: 0px;
      }
      .headline-white {
        margin-bottom: 10px;
      }
    }

    .white-cell {
      margin-left: 0px;
      margin-top: 30px;
      margin-bottom: 17px;
    }

    .footer-paragraph {
      margin-bottom: 50px;
    }
  }
}
