html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  width: 1417.5px;
  margin: 0 auto;
  background-color: #EEEEEE;
}

.container {
  width: 1004px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-start2 {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-comp1 {
  display: flex;
  justify-content: flex-start;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.red-cell {
  width: 350px;
  height: 425px;
  background-color: #ed1c24;
  position: relative;
}
.red-cell .white-cell {
  width: 38px;
  height: 38px;
  border: 3px solid white;
  color: #ffffff;
  margin-right: 10px;
  text-align: center;
  margin-top: 15px;
}
.red-cell .white-cell p {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.red-cell .text-container {
  margin-left: 33px;
}
.red-cell .text-container .headline-white {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
}
.red-cell .text-container .headline-black {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 18px;
  color: #ffffff;
  width: 100.25px;
  height: 19.5px;
  background-color: #111111;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 4px;
}
.red-cell .text-container .author {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 31px;
}
.red-cell .text-container .author h1 {
  font-size: 26px;
}
.red-cell .text-container .duration {
  font-family: "Open-sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  word-spacing: 1.5px;
  margin-bottom: 5px;
}
.red-cell .text-container .admission {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 90px;
  color: #ffffff;
  margin-bottom: 10px;
}
.red-cell .right-arrow {
  margin-right: 10px;
}

.image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 38px;
  border: 1px solid grey;
}
.image-container .img-cnt {
  padding-right: 7px;
  border-right: 1px solid grey;
}

.main {
  height: 65px;
  display: grid;
  grid-template-columns: 557px 537px 56px 56px 1fr;
}
.main .cell1 {
  background-color: #EEEEEE;
}
.main .cell2,
.main .cell3,
.main .cell4,
.main .cell5 {
  background-color: #111111;
}
.main .cell3 {
  border-right: 0.25px solid grey;
  border-left: 0.25px solid grey;
}
.main .cell4 {
  border-right: 0.25px solid grey;
}

@media (max-width: 320px) {
  main {
    width: 320px !important;
  }
  main .container {
    width: 271px;
    position: relative;
  }
  main .container .text-container {
    margin-left: 28px;
  }
  main .container .white-cell {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }
  main .container .white-cell P {
    font-size: 25px;
  }
  main .container .headline-white {
    font-size: 14px !important;
    margin-right: 10px;
  }
  main .container .headline-black {
    margin-top: 26px !important;
    margin-left: 7px;
  }
  main .container .author {
    margin-left: 10px;
  }
  main .container .duration {
    font-size: 14px;
    margin-left: 7px;
  }
  main .container .admission {
    margin-left: 7px;
  }
  main .container .navigation-icon {
    position: absolute;
    top: 10px;
    right: 0px;
  }
  main .container .image-container {
    right: 25%;
  }
  main .main .cell1 {
    background-color: #111111;
  }
}
@media (max-width: 768px) {
  main {
    width: 770px;
  }

  .container {
    width: 729px;
  }

  .red-cell {
    width: 344px;
    height: 421px;
    background-color: #FF4242;
  }
  .red-cell .white-cell {
    margin-top: 5px;
  }
  .red-cell .white-cell p {
    font-size: 32px;
    margin-top: 3px;
  }

  .main {
    width: 731px;
    height: 60px;
    grid-template-columns: 20px 572px 57px 57px 44px;
  }
  .main .cell1 {
    background-color: #EEEEEE;
  }
}
@media (max-width: 768px) {
  main {
    background-color: white;
  }

  .grey-cell {
    display: none;
  }

  .grid-container {
    display: flex;
    width: 770px;
    height: 472px;
    background-color: #ffffff !important;
  }
  .grid-container .part1 {
    display: none;
  }

  .comp2-text {
    width: 608px;
    padding-left: 69px !important;
  }
}
.grey-cell {
  width: 350px;
  height: 522px;
  background-color: #898989;
}

.grid-container {
  background-color: #DBDBDB;
  display: grid;
  grid-template-columns: 207px 350px 850px;
}

.comp2-text {
  background-color: #ffffff;
  padding-left: 48px;
}
.comp2-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.comp2-text h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 30px;
}
.comp2-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  margin-bottom: 30px;
  margin-right: 28px;
}

.comp3-container {
  width: 1417.5px;
  height: 520px;
  margin: 0 auto;
  background-color: #111111;
  display: flex;
  align-items: center;
}
.comp3-container .comp3-white-cell {
  flex-shrink: 0;
  margin-right: 30px;
}
.comp3-container .white-cell-helper {
  margin-bottom: 5px;
}
.comp3-container .comp3-white-cell {
  width: 622px;
  height: 409px;
  background-color: #ffffff;
}
.comp3-container .outter_container {
  display: flex;
  justify-content: space-between;
  height: 414px;
}
.comp3-container .outter_container .comp3-header {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 30px;
}
.comp3-container .comp3-grid {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
}
.comp3-container .comp3-grid .cell {
  width: 107px;
  height: 100px;
  background-color: #ffffff;
  margin-right: 16px;
  margin-bottom: 20px;
}
.comp3-container .comp3-grid .cell:hover {
  width: 102;
  height: 95;
  border: 5px solid red;
}

.map-container {
  width: 1417.5px;
  position: relative;
}
.map-container .map {
  width: 100%;
  height: 440px;
}
.map-container .comp4-red-cell {
  width: 349px;
  height: 440px;
  background-color: #ed1c24;
  position: absolute;
  top: 0;
  left: 14.7%;
  align-items: center;
  text-align: center;
}
.map-container .comp4-red-cell .comp4-circle {
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  margin-bottom: 12px;
}
.map-container .comp4-red-cell .comp4-circle img {
  position: absolute;
  top: 20%;
  left: 25%;
}
.map-container .comp4-red-cell .comp4-headline {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 19px;
}
.map-container .comp4-red-cell .comp4-address {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 41px;
}
.map-container .comp4-red-cell .question {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 23px;
}
.map-container .comp4-red-cell .icon-cell {
  position: relative;
  display: inline-block;
}
.map-container .comp4-red-cell .icon-cell .icon {
  position: absolute;
  top: 20%;
  left: 35%;
}
.map-container .comp4-red-cell .icon-cell .icon.car {
  top: 30%;
  left: 20%;
}

@media (max-width: 768px) {
  .map-container {
    width: 770px;
  }

  .comp4-red-cell {
    width: 344.5px;
    background-color: #FF4242;
    top: 0;
    left: 47px !important;
  }
}
.comp5-container {
  width: 1417.5px;
  height: 163.5px;
  margin: 0 auto;
  background-color: #111111;
}

.footer-container {
  width: 1004px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.footer-container .footer-icon {
  position: absolute;
  top: 36%;
  right: -11.4%;
  width: 37px;
  height: 35px;
  border: 1px solid grey;
}
.footer-container .footer-icon img {
  position: absolute;
  top: 36%;
  left: 25%;
}
.footer-container .white-cell {
  width: 38px;
  height: 38px;
  border: 3px solid white;
  color: #ffffff;
  margin-right: 10px;
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.footer-container .white-cell p {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.footer-container .headline-white {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  margin-right: 395px;
  margin-bottom: 30px;
}
.footer-container .footer-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 16.8px;
  color: #ffffff;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .comp5-container {
    width: 770px;
  }
  .comp5-container .footer-container {
    width: 594px;
    display: block !important;
  }
  .comp5-container .footer-container .footer-icon {
    top: 38%;
    right: 0px;
  }
  .comp5-container .footer-container .headline-white {
    margin-bottom: 10px;
  }
  .comp5-container .white-cell {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 17px;
  }
  .comp5-container .footer-paragraph {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=index.css.map */
