html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  width: 1417.5px;
  margin: 0 auto;
  background-color: #EEEEEE;
}

.container {
  width: 1004px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-start2 {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-comp1 {
  display: flex;
  justify-content: flex-start;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red-cell {
  width: 350px;
  height: 425px;
  background-color: #ed1c24;
  position: relative;
}
.red-cell .white-cell {
  width: 38px;
  height: 38px;
  border: 3px solid white;
  color: #ffffff;
  margin-right: 10px;
  text-align: center;
  margin-top: 15px;
}
.red-cell .white-cell p {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.red-cell .text-container {
  margin-left: 33px;
}
.red-cell .text-container .headline-white {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
}
.red-cell .text-container .headline-black {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 18px;
  color: #ffffff;
  width: 100.25px;
  height: 19.5px;
  background-color: #111111;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 4px;
}
.red-cell .text-container .author {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 31px;
}
.red-cell .text-container .author h1 {
  font-size: 26px;
}
.red-cell .text-container .duration {
  font-family: "Open-sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  word-spacing: 1.5px;
  margin-bottom: 5px;
}
.red-cell .text-container .admission {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 90px;
  color: #ffffff;
  margin-bottom: 10px;
}
.red-cell .right-arrow {
  margin-right: 10px;
}

.image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 38px;
  border: 1px solid grey;
}
.image-container .img-cnt {
  padding-right: 7px;
  border-right: 1px solid grey;
}

.main {
  height: 65px;
  display: grid;
  grid-template-columns: 557px 537px 56px 56px 1fr;
}
.main .cell1 {
  background-color: #EEEEEE;
}
.main .cell2,
.main .cell3,
.main .cell4,
.main .cell5 {
  background-color: #111111;
}
.main .cell3 {
  border-right: 0.25px solid grey;
  border-left: 0.25px solid grey;
}
.main .cell4 {
  border-right: 0.25px solid grey;
}

.grey-cell {
  width: 350px;
  height: 522px;
  background-color: #898989;
}

.grid-container {
  background-color: #DBDBDB;
  display: grid;
  grid-template-columns: 207px 350px 850px;
}

.comp2-text {
  background-color: #ffffff;
  padding-left: 48px;
}
.comp2-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.comp2-text h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 30px;
}
.comp2-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  margin-bottom: 30px;
  margin-right: 28px;
}

/*# sourceMappingURL=index.css.map */
